@import './vendor/bootstrap/css/bootstrap.css';
@import './react-select.css';

:target {
  animation: highlight 1s ease-in;
}
@keyframes highlight {
  0% { background-color: #fcf1bb; }
  100% { background-color: white; }
}

body {
  margin: 50px 0;
  background: #eee;
  color: #6888A5;
}
div.container {
  background: white;
  box-shadow: rgba(0, 0, 0, 0.03) 0 0 0 1px;
  min-width: 1170px;
  min-height: 300px;
  padding-bottom: 40px;
}
div.controls div.btn-group, div.controls h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}
div.controls span.help-text {
    color: #bbb;
    font-style: italic;
    font-size: 12px;
}
div.controls div.survey-actions,
div.controls div.survey-actions p.help-text {
    text-align: right;
}
div#sidebar {
    width: 350px;
}
div#sidebar.affix-bottom {
    position: absolute;
}
div.widgets-area {
  background-color: #E0EEF8;
  padding: 10px;
}

div.file-dropzone {
    width: 100%;
    border: 1px dashed #bbb;
    height: 120px;
    text-align: center;
    cursor: pointer;
}

div.file-dropzone i {
    font-size: 81px;
    color: #eee
}

div.file-dropzone.active i {
    color: #008148;
}

div.file-dropzone-small {
    width: 100%;
    border: 1px dashed #bbb;
    height: 50px;
    text-align: center;
    cursor: pointer;
}

div.file-dropzone-small i {
    font-size: 45px;
    color: #eee;
}

div.file-dropzone-small.active i {
    color: #008148;
}

div.modal-body h3 {
    margin-top: 0;
    font-size: 16px;
    font-weight: 600;
}

div.modal-body h2 {
   text-align: center; 
   border-bottom: 1px solid #eee;
   line-height: 10px;
   margin: 10px 0 30px 0;
} 

div.modal-body h2 span { 
    background:#fff; 
    padding:0 10px; 
    font-size: 14px;
}

div.item.dragging,
div.survey.dragging,
div.tree-view_node-block.dragging {
    background: #f4fbd7;
}
div.item.hovering,
div.survey.hovering,
div.tree-view_node-block.hovering {
    background: #eeeeee;
}
div.draggable {
    border: 1px dashed black;
    width: 70px;
    height: 60px;
    margin: 10px 15px;
    cursor: move;
    box-sizing: border-box;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    padding-top: 20px;
    border-radius: 8px;
    border: 0;
    color: white;
    background: #EFAA1F;
}
div.draggable i {
    display: block;
    margin: -5px 0 0 0;
    font-size: 15px;
}

div.config-area ul li i {
    opacity: 0.4;
}

div.config-area ul li div.active i {
    opacity: 1.0;
}

div.survey {
  padding: 20px;
  border: 1px dashed #ccc;
}

div.config-area ul {
    list-style-type: none;
    margin: 0;
    text-align: right;
}

div.config-area ul li {
    display: inline-block;
    font-size: 20px;
    margin: 0 10px;
    cursor: pointer;
}

div.item div.controls-area {
    visibility: hidden;
}

div.item:hover div.controls-area {
    visibility: visible;
}

div.item div.controls-area ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 5px;
}

div.item div.controls-area ul li {
    display: inline-block;
    cursor: pointer;
}

div.item.block div.controls-area ul li {
    font-size: 18px;
    margin: 0 8px;
}

div.item.question div.controls-area {
    display: inline-block;
}
div.item.question div.controls-area ul li {
    font-size: 14px;
    margin: 0 4px;
}

p.help-text {
    color: #bbb;
    font-style: italic;
    text-align: center;
    margin-bottom: 0;
    font-size: 12px;
    margin-top: 8px;
}

div.item {
  color: rgba(0, 0, 0, 0.5);
  background: white;
}

div.item.block {
  border: 2px solid #EFAA1F;
  color: #EFAA1F;
  position: relative;
  margin-top: 25px;
  padding: 0 30px;
  min-height: 40px;
}
div.item.block.first {
    margin-top: 0;
}
div.item.block:last-child {
    margin-bottom: 0;
}
div.item.block:after {
    position: absolute;
    font-size: 10px;
    font-weight: 200;
    top: 0;
    right: 0;
    content: "block";
    font-style: italic;
    background: #EFAA1F;
    padding: 0 2px 2px 5px;
    color: white;
}

div.item.question {
  /*border: 2px solid #c4ea2d;*/
  border: 2px solid #008148;
  margin-bottom: 5px;
  padding: 10px;
  position: relative;
}

div.item.question:after {
    position: absolute;
    font-size: 10px;
    font-weight: 200;
    top: 0;
    right: 0;
    content: "question";
    color: white;
    font-style: italic;
    background: #008148;
    padding: 0 2px 2px 5px;
}

div.item.question .qtext {
    font-weight: 600;
    margin-bottom: 5px;
}

div.item.question div.qtext-area i {
    margin-left: 10px;
    visibility: hidden;
}

div.item.question div.qtext-area:hover i {
    cursor: pointer;
    visibility: visible;
}

div.notifications.alert {
    top: 15px;
    position: fixed;
    left: 42%;
    z-index: 10;
    padding: 10px;
    color: #222;
    text-align: center;
    font-size: 13px;
    border: black;
    background: #f9edbe;
    border: 1px solid #f0c36d;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    text-transform: capitalize;
}

div.notifications.alert a {
    font-weight: bold;
    text-decoration: underline;
    color: #222;
    cursor: pointer;
    margin-left: 10px;
}

div.survey-notification button{
    margin-right: 10px;
}

/* styles for react tags */
div.ReactTags__tags {
    position: relative;
    margin-top: 8px;
}

/* Styles for the input */
div.ReactTags__tagInput {
    width: 100px;
    border-radius: 2px;
    display: inline-block;
}
div.ReactTags__tagInput input,
div.ReactTags__tagInput input:focus {
    height: 31px;
    margin: 0;
    font-size: 12px;
    width: 100%;
    border: 1px solid #eee;
    outline: none;
    padding: 5px;
}

/* Styles for selected tags */
div.ReactTags__selected {
    float: left;
}
div.ReactTags__selected span.ReactTags__tag {
    font-size: 12px;
    display: inline-block;
    margin-right: 5px;
    cursor: move;
    border: 1px solid #D1D0A3;
    margin-right: 7px;
    display: inline-block;
    color: #9d9c4f;
    padding: 3px 8px;
    border-radius: 20px;

}
div.ReactTags__selected a.ReactTags__remove {
    color: #aaa;
    margin-left: 5px;
    cursor: pointer;
}

/* Styles for suggestions */
div.ReactTags__suggestions {
    position: absolute;
    z-index: 10;
}
div.ReactTags__suggestions ul {
    list-style-type: none;
    box-shadow: .05em .01em .5em rgba(0,0,0,.2);
    background: white;
    width: 100px;
    padding: 0;
}
div.ReactTags__suggestions li {
    border-bottom: 1px solid #ddd;
    padding: 5px 10px;
    margin: 0;
}
div.ReactTags__suggestions li mark {
    text-decoration: underline;
    background: none;
    font-weight: 600;
    padding: 0;
}
div.ReactTags__suggestions ul li.active {
    background: #b7cfe0;
    cursor: pointer;
}
div.toolbox {
    border: 1px solid #dedede;
    padding: 10px;
}
div.tree-view {
    border: 1px solid #dedede;
    padding: 10px;
    margin-top: 20px;
}
div.tree-view h3,
div.toolbox h3 {
    margin-top: 0;
}
div.tree-view_arrow {
    cursor: pointer;
    margin-right: 6px;
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
div.tree-view_children {
    margin-left: 15px;
}
div.tree-view_node-block {
    margin: 10px 0;
    border: 1px dashed #bbb;
    padding: 10px;
    cursor: move;
}
div.tree-view_node-block:hover {
    border: 1px solid #EFAA1F;
}
div.tree-view_node-question {
    margin: 5px 0;
    padding: 5px 10px;
    border: 1px dashed #bbb;
    cursor: move;
}
div.tree-view_node-question:hover {
    border: 1px solid #008148;
}
span.tree-view_question-title, span.tree-view_block-title {
    text-decoration: underline;
    cursor: pointer;
    font-style: italic;
}
div.tree-view_node {
    font-size: 12px;
}

.itemTransition-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.itemTransition-leave.itemTransition-leave-active {
  opacity: 0.01;
}

h3 > span.help-text {
  font-size: 12px;
  float: right;
  font-style: italic;
  color: #bbb;
  text-transform: lowercase;
  margin-top: 10px;
}

div.freeText-area {
    text-align: right;
}
div.freeText-area input[type=text] {
    font-size: 13px;
    padding: 4px 8px;
    width: 250px;
}

div.col-lg-4.number {
    font-size: 18px;
    padding-top: 5px;
}

div.mc-item {
    padding-bottom: 5px;
}
